#box {
    padding: 72px var(--space-inline) 96px;
    width: min(100%, var(--container-width));
    margin: 0 auto;
}

#cabecalho-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
    text-align: center;
}

#cabecalho-footer h2 {
    font: var(--Title-md);
    color: var(--gray-100);
}

#col {
    font: var(--Sub);
    color: var(--green);
}

.tm {
    font: var(--Text-md);
    color: var(--gray-200);
}

#contatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: var(--gray-400);
    width: 100%;
    max-width: 400px;
    min-height: 68px;
    border-radius: 12px;
    border: solid 2px transparent;
}

.contato img:nth-child(1) {
    padding: 20px 0 20px 20px;
}

.contato p {
    padding-block: 23px;
    font: var(--Text-md);
    color: var(--gray-100);
}

.contato a:nth-child(3) {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.contato:hover {
    border-color: var(--blue);
}

@media (min-width: 1024px) {
    #box {
        padding: 128px var(--space-inline) 200px;
    }
    #cabecalho-footer {
        margin-bottom: 48px;
    }
}