#srv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 88px 120px 120px 120px;
    
}

#cabecalho-servicos {
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cabecalho-servicos h2 {
    font: var(--Title-md);
    color: var(--gray-100);
   }

   #lista-servicos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
   }

   #servicos h3 {
    font: var(--Title-sm);
    color: var(--gray-100);
}

#servicos p {
    font: var(--Text-sm);
    color: var(--gray-200);
}

.ngc {
    width: 280px;
    height: 155px;
    border: solid 1px var(--gray-500);
    border-radius: 12px;
    padding: 20px;
    
    img{
        width: 48px;
        height: 48px;
        padding-bottom: 20px;
    }

    h3{
        padding-bottom: 8px;
    }
}